*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.whatsapp-float:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}
.whatsapp-float img {
    width: 40px;
    height: 40px;
    display: flex;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    background-color:   rgb(107, 176, 233); /*color de botones*/
}

button:hover{
    background-color: rgb(75, 72, 72);
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.color-acento{ color:rgb(0, 0, 0); } /* color de palabra alado de somos en la primer parte */

header{
    background-color: rgb(255, 255, 255); /* color de fondo del menu */
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 0, 0); /* color de la logo */
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);  /* color de texto en las opciones de menu */
}

header a:hover{
    color: rgb(4, 18, 145); /* color de texto al desplazar en las opciones de menu */
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(17, 27, 80, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/fondo1page.png"); /* Imagen de la primer seccion */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: rgb(255, 255, 255);
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}

#somos-proya {
    background-color: rgb(107, 176, 233); /* Elige el color que prefieras */
    color: rgb(255, 255, 255);  /* color de texto en la segunda seccion */
}

#nuestros-programas{ /* TERCER SECCION */
    background-color:  rgb(107, 176, 233); /* color de fondo en la tercer seccion */
    color: rgb(255, 255, 255);  /* color de texto en la tercer seccion */
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta {
    background: none;           /* Sin fondo diferente */
    box-shadow: none;           /* Sin sombra si no quieres borde */
    border-radius: 0;           /* Sin esquinas redondeadas */
    padding: 0;                 /* Sin espacio interno */
    margin: 0;                  /* Sin espacio externo */
    width: 100%;                /* Ocupa todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#nuestros-programas .carta video {
    width: 100%;
    height: 130%;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.2s;
}

#nuestros-programas .carta video:hover {
    transform: scale(1.3);
}

#certificaciones{
    background-color:  rgb(107, 176, 233);
    .cert-btn {
        background: rgba(0,0,0,0.5);
        color: #fff;
        border: none;
        font-size: 2em;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 2;
        transition: background 0.2s;
    }
    .cert-btn:hover {
        background: rgba(0,0,0,0.8);
    } /* color de fondo en la tercer seccion */
    color: rgb(255, 255, 255);  /* color de texto en la tercer seccion */
    text-align: center;
    padding: 50px 12px;
}
#certificaciones.taller-btn {
    background: rgb(107, 176, 233);
    color: #fff;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.2s;
}
#talleres{
    background-color:  rgb(107, 176, 233);
    color: white;
    text-align: center;
    padding: 10px;
}
.talleres-carrusel {
    position: relative;
    width: 520px;
    margin: auto;
}

#taller-img {
    width: 100%;
    height: 455px;
    object-fit: contain;
    border-radius: 10px;
    background: rgb(107, 176, 233);
    display: block;
}
#talleres h2 {
    background-color: rgb(107, 176, 233); /* color de fondo en la cuarta seccion */
}
.taller-btn {
    background: rgb(107, 176, 233);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 2em;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.taller-btn:hover {
    background: rgb(107, 176, 233);
} .carta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
    background-color: rgb(107, 176, 233); /* color de fondo en la cuarta seccion */
}
#caracteristicas h2{
    color: rgb(255, 255, 255); /* color de texto en la cuarta seccion */
    text-align: center;
}
#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}


#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgb(107, 176, 233); /* color de fondo en la ultima seccion */
    color: rgb(107, 176, 233);
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(107, 176, 233); /* color de footer */
}

footer p{
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255); /* color de texto en footer */
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-aplicate {
    display: inline-block;
    padding: 15px 30px;
    background:  rgb(107, 176, 233);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}
.btn-aplicate:hover {
    background: #afa7a7;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        position: relative;
        width: 400px;
        height: 350px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    #somos-proya .img-container{
        background-size: cover;
        background-position:  center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(180, 154, 154, 0);
        box-shadow: 2px 2px 10px rgba(237, 234, 234, 0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/michelle6.JPEG"); /*IMAGEN DE LA TERCER SECCION DE LA PRIMERA DESCRIPCCION DEL LADO IZQUIERDO */

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/michelle7.JPEG"); /*IMAGEN DE LA TERCER SECCION DE LA SEGUNDA DESCRIPCCION DEL MEDIO */
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/michelle8.JPEG"); /*IMAGEN DE LA TERCER SECCION DE LA TERCERA DESCRIPCCION DEL LADO DERECHO */

    }

#Director{
    background-color:  rgb(107, 176, 233);
    color: #fff;
    text-align: center;
    padding:  10%;
}





#caracteristicas{
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
        background-color:  rgb(107, 176, 233); /* color de fondo en la cuarta seccion */
    }
    .social {
      text-align: center;
      margin-top: 50px;
    }

    .social h2 {
      font-family: Arial, sans-serif;
      margin-bottom: 20px;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center; /* Centra verticalmente */
      gap: 10px;
    }

    .social-icons a img {
      width: 150px;   /* Tama침o por defecto */
      height: 150px;  /* Tama침o por defecto */
      transition: transform 0.2s;
      object-fit:contain; /* Mantiene proporci칩n */
    }

    .social-icons a img:hover {
      transform: scale(1.2); /* Efecto hover m치s suave */
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}

.carousel-btn,
.taller-btn,
.cert-btn {
    background: rgba(0,0,0,0.0); /* Totalmente transparente */
    color: #fff;
    border: none;
    font-size: 2.5em;
    padding: 0 18px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: none;
    outline: none;
}

.carousel-btn:hover,
.taller-btn:hover,
.cert-btn:hover {
    background: rgba(0,0,0,0.25); /* Sutil fondo oscuro al pasar el mouse */
    color: #ffd700; /* Dorado al pasar el mouse, puedes cambiarlo */
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}